<%= title "Forgot Password" %>

<style>
.gras {
      background: -webkit-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
      background: -moz-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
      background: -ms-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
      background: -o-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
  }
</style>
<div class="contact container login_">
  <div class="data-contact">
    <div class="col-md-4 left">
      <h4 class="nb">Forgot Password</h4>
      <div class="contact-form">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control frm_', placeholder: "Email" %>
          </div>
          <div class="btn_send">
            <%= f.submit "SUBMIT", class: "btn_snd" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 right">
    <div class="clear"></div>
  </div>
</div>

