<%= title "About" %>
<div class="about berita container">
  <div class="data-berita">
    <div class="title">
      <h4>SEKAPUR SIRIH</h4>
    </div>
    <div class="content-berita">
      <div class="col-md-8 berita-satu">
        <div class="nase">
          <p class="isp">
            Ruang ide adalah sebuah perusahaan penyedia jasa industry kreatif yang mempokuskan diri pada bidang event organizer, creative concept, event worker, talent agency, advertising, audio visual, crative concept, dalam penyelenggaraan event maupun aktivitas lainnya kami berkomitmen untuk selalu melakukan pengembangan konsep dengan ide-ide kreatif hingga memiliki ciri khas sendiri demi terciptanya tujuan serta kepuasan client kami, dengan ddukungan team creative dan team produksi...
          </p>
        </div>
      </div>
      <div class="clear"></div>
      <div class="btn_read">
        <a class="read_more" href="#">READ MORE</a>
      </div>
    </div>
  </div>
</div>
<div class="header_texture _texture">
  <h1 class="o-title-flex -texture">
    <span class="c-char">T</span>
    <span class="c-char">E</span>
    <span class="c-char">N</span>
    <span class="c-char">T</span>
    <span class="c-char">A</span>
    <span class="c-char">N</span>
    <span class="c-char">G</span>
    <span class="c-char">.</span>
    <span class="c-char">K</span>
    <span class="c-char">A</span>
    <span class="c-char">M</span>
    <span class="c-char">I</span>
  </h1>
</div>
