<style>
.gras {
      background: -webkit-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
      background: -moz-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
      background: -ms-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
      background: -o-linear-gradient(right, rgba(255,255,255,0.2), rgba(255,255,255,1) 40%) !important;
  }
</style>
<div class="contact container">
  <div class="data-contact">
    <div class="col-md-4 left">
      <h4 class="nb">Hubungi kami</h4>
      <div class="contact-form">
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control frm_" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control frm_" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control frm_" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea id="" name="" cols="30" rows="10" class="form-control frm_ txt_area" placeholder="Message"></textarea>
          </div>
          <div class="btn_send">
            <button class="btn_snd">SEND</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8 right">
      <div class="emn">
        <h4 class="email"><a href="mailto:ruangide.yk@gmail.com">RUANGIDE.YK@GMAIL.COM</a></h4>
      </div>
      <div class="meds">
        <p><a href="#">FACEBOOK</a></p>
        <p><a href="#">INSTAGRAM</a></p>
        <p><a href="#">TWITTER</a></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
