<div class="contact container">
  <div class="data-contact">
    <div class="thank-z">
      <h2 class="thank">Terima Kasih Sudah Menggunakan Jasa Kami.</h2>
      <%= link_to "Kembali ke Halaman Utama", root_path, "data-turbolinks": false %>
    </div>
  </div>
</div>
