# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a50d86acb209621783c4ba7c4d26b593f8e1b039168452a6ac0ec6bfa9947aa3ff9bda5098228f28808e2633340c3f59ed20b92cc20718051afca84b5413630b

test:
  secret_key_base: 37e2f4b101f9e153dcb5cdd4bc9cafa89ba7c28c9e3e628fb36ec10e89418c52cdfde0f393af4387451faeb09d95fa6849e1c97513e8519cd27072479b9329ab

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
