// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media(min-width: 768px){
  body {
    overflow-x: hidden;
  }
  .clear {
    clear: both;
  }
  .noise {
    position: fixed;
    background:#fff;
    opacity: 0.15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
  }
  .why_always_me {
    width: 100%;
    height: 750px;
    max-height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    .gras {
      // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,1) 75%);
      background: -moz-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,1) 75%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,1) 75%);
      background: -o-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,1) 75%);
      .make_me_streess {
        width: 100%;
        height: 750px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('glitch/glitch-transition.gif');
        opacity: .2;
      }
    }
    .i_dont_know {
      background-color: rgba(255,255,255,.3);
      position: absolute;
      width: 100%;
      height: 750px;
      top:0;
      left:0;
      right:0;
      z-index: 10;
    }
  }
  .footer {
    position: absolute;
    z-index:10;
    left: 0;
    right:0;
    width: 100%;
    margin-top: -35px;
    .container-fluid {
      .sosmed {
        li {
          cursor: pointer;
          a {
            font-size: 14px;
            color: #b7baab;
            text-decoration: none;
            padding-left: 10px;
          }
          &:hover {
            a {
              color: #640f0f;
            }
          }
        }
      } 
      .copyright {
        list-style: none;
        padding: 0px;
        li {
          font-size: 13px;
          font-family: 'Domine', serif;
          color: #b7baab;
          font-weight: 400;
        }
      }
    }
  }
  
  //berita
  .berita {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 10%;
    .data-berita {
      .title {
        padding-bottom: 10px;
        h4 {
          font-family:bebas_neuebold, Helvetica, Arial;
          font-size: 40px;
          color: #640f0f;
          letter-spacing: 1px;
        }
      }
    }
    .content-berita {
      #berita {
        .carousel-inner {
          .item {
            .berita-satu {
              padding-left: 0px;
              padding-right: 35px;
              margin-right: 20px;
              .title_berita {
                h4 {
                  font-family:bebas_neueregular, Helvetica, Arial;
                  font-size: 18px;
                  color: #640f0f;
                  letter-spacing: 1px;
                }
              }
              .nase {
                .isp {
                  font-family: 'Domine', serif;
                  font-size: 14px;
                  line-height: 23px;
                  color: #474644;
                  font-weight: 400;               
                }
                .read_more {
                  text-decoration: none;
                  color: #fff;
                  font-family: bebas_neueregular, Helvetica, Arial;
                  display: inline-block;
                  background-color: #aeb1a0;
                  padding: 8px 30px;
                  font-size: 16px;
                  letter-spacing: 1.5px;
                  outline: none;
                }
              }
            }
          }
        }
        .carousel-control {
          background-image: none;
          position: absolute;
          left: auto;
          bottom: auto;
          opacity: 1;
          margin-top: 4.7em;
          text-shadow: none;
          span {
            color: #aeb1a0;
            transition: all .2s ease-in;
            &:hover {
              color: #640f0f;
            }
          }
        }
        .carousel-control.left {
          left: -8em;
        }
        .carousel-control.right{
          right: 7em;
        } 
      }
    }
  }
  .header_texture{
    padding: 0px 5%;
    padding-top: 7.5em;
    .o-title-flex {
      display: -webkit-flex;
      display: flex;
      position: relative;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      font-size: 6.875rem;
    }
    .-texture {
      .c-char {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: url('glitch/txt_bg.jpg') center center no-repeat;
        color: #aeb1a0;
      }
    }
  }

  //event
  .event {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
    .data-event {
      .event_ {
        text-align: center;
        margin-bottom: 50px;
        ._ev {
          font-family: bebas_neuebold, Helvetica, Arial;
          font-size: 35px;
          .name_ {
            text-decoration: none;
            color: #640f0f;
            outline: none;
            &:before,
            &:after{
              display: block;
              content: attr(data-text);
              position: absolute;
              top: 10px;
              left: 0;
              height: 100%;
              width: 100%;
              opacity: .8;
            }
            &:after {
              color: #b08585;
              z-index: -2;
            }
            &:before {
              color: #aeb1a0;
              z-index: -1;
            }
            &:hover {
              &:before {
                animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite
              }
              &:after {
                animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
              }
            }
          }
        }
      }
      @keyframes glitch {
        0% {
          -webkit-transform: translate(0);
          transform: translate(0)
        }
        20% {
          -webkit-transform: translate(-10px,10px);
          transform: translate(-10px,10px)
        }
        40% {
          -webkit-transform: translate(-10px, -10)1;
          transform: translate(-10px, -10px)
        }
        60% {
          -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px)
        }
        80% {
          -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px)
        }
        to {
          -webkit-transform: translate(0);
          transform: translate(0)
        }
      }
    }
  }

  //contact 
  .contact {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
    .data-contact {
      .left {
        padding-left: 0;
        .nb {
          font-size: 2em;
          color: #640f0f;
          margin-bottom: 5rem;
          font-family: 'Domine', serif;
          font-weight: 700;
        }
        .contact-form {
          form {
            .form-group {
              margin-bottom: 30px;
              .frm_ {
                font-family: 'Domine',serif;
                font-size: 10px;
                background: rgba(255, 255, 255, 0.0);
                -webkit-text-fill-color: #640f0f !important;
                box-shadow: none;
                outline: none;
                height: 41px;
                border-radius: 0px;
                border: 1px solid #c3c5b9;
                transition: all .3s ease-in;
                &:focus {
                  background-color: rgba(255,255,255,.4);
                }
              }
              .txt_area {
                height: 140px;
              }
            }
            .btn_send {
              .btn_snd {
                background-color: #640f0f;
                color: #fff;
                font-family: bebas_neuebold, Helvetica, Arial;
                font-size: 16px;
                border: none;
                outline: none;
                padding: 9px 35px;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
      .right {
        padding-left: 10%;
        padding-top: 12%;
        .emn {
          .email {
            font-family: bebas_neueregular, Helvetica, Arial;
            font-size: 40px;
            letter-spacing: 1px;
            a {
              text-decoration: none;
              color: #aeb1a0;
              &:hover {
                color: #640f0f;
              }
            }
          }
        }
        .meds {
          p {
            font-family: bebas_neueregular, Helvetica, Arial;
            font-size: 16px;
            letter-spacing: 1px;
            a {
              text-decoration: none;
              color: #640f0f;
            }
          }
        }
      }
    }
  }

  //about 
  .about {
      .data-berita {
	  .content-berita {
	      .berita-satu {
		  padding-left: 0;
		  width: 63.666667%;
		  .nase {
		      .isp {
			  font-family: 'Domine', serif;
			  font-size: 14px;
			  line-height: 24px;
			  color: #474644;
			  font-weight: 400;
			  text-align: justify;
		      }
		  }
	      }
	      .btn_read {
		  padding-top: 20px;
		  .read_more {
		      text-decoration: none;
		      color: #fff;
		      font-family: bebas_neueregular, Helvetica, Arial;
		      display: inline-block;
		      background-color: #aeb1a0;
		      padding: 8px 30px;
		      font-size: 16px;
		      letter-spacing: 1.5px;
		      outline: none;
		  }
	      }
	  }
      }
  }


  //testimoni
  .testimoni {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
    .slider {
      position: relative;
      z-index: 200;
      width: 100%;
      margin: 0 auto;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      .slidex {
	  padding-bottom: 40px;
	.slide__mover{
	  position: relative;
	  z-index: 100;
	  .zoomer {
	    .preview {
	      .left_ {
		text-align: right;
		img {
		  width: 500px;
		  -webkit-box-shadow: 0 14px 30px 10px rgba(0,0,0,.2);
		  -moz-box-shadow: 0 14px 30px 10px rgba(0,0,0,.2);
		  box-shadow: 0 14px 30px 10px rgba(0,0,0,.2);
		  transform: matrix3d(1, 0, 0, 2.28e-05, 0, 1, 0, 5.75e-05, 0, 0, 1, 0, 0, 0, 0, 1);
		}
	      }
	      .right_ {
		padding-top: 5em;
		.content_sli {
		  .sx {
		    font-family: 'Domine', serif;
		    font-size: 15px;
		    font-weight: 400;
		    line-height: 24px;
		    color:#640f0f;
		  }
		  .bxc {
		    @extend .sx;
		    font-size: 13px;
		    color: #aeb1a0;
		    text-transform: capitalize;
		    padding-top: 3em;
		  }
		  ._na {
		    @extend .sx;
		    font-size: 16px;
		    text-transform: capitalize;
		    padding: 4px 15px;
		    background-color: #aeb1a0;
		    color: #fff;
		    font-weight: 700;
		    position: absolute;
		  }
		}
	      }
	    }
	  }
	}
      }
      .slide--current {
	position: relative;
	z-index: 100;
	visibility: visible;
	opacity: 1;
      }
      .slider__nav {
	position: absolute;
	top: 0;
	z-index: 101;
	width: 100%;
	text-align: right;
	.button {
	    position: relative;
	    display: inline-block;
	    overflow: hidden;
	    opacity: 1;
	    width:4%;
	    padding: 0;
	    cursor: pointer;
	    color: #aeb1a0;
	    outline: none;
	    font-size: 2em;
	    border: none;
	    background: none;
	}
      }
    }
  }
}

